/* font styles  */

.inter-abnormal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-button-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
.text-primary{
    color: #4E47FF;
}
.secondary-bg{
    background-color: #FFFFFF;
}

.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    padding: 12px 36px;
    border-radius: 10px;
}

/* header */

.header{
   background-image: url('../Assets/Hero-bg.png');
   background-repeat: no-repeat;
   background-position: center;
   
}

/* nav styles */

 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
    
 }
 .nav-title{
    font-weight: 900;
    font-size: 34px;
 }

 nav ul li{
    list-style: none;
 }

 /* banner style */

 .banner{
    /* max-width: 905px; */
    margin: 0 auto;
    }

 .banner-content{
    text-align: center;
    padding: 158px 117px;
    
 }

 .banner-title{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin: 0 auto;
    
 }
 .stay-button{
    margin-top: 20px;
 }

 main{
   max-width: 1140px;
   margin: 0 auto;
 }


 /* action section */

 .action{
   margin-top: 116px;
 }

 
 .action-container{
     display: flex;
     align-items: center;
     height: 200px;
     justify-content: space-between;
     padding: 62.5px 62.5px;
     /* margin: 0 159px 0 141px; */
     
 }

 .action-content{
   /* max-width: 500px; */
   padding: 62.5px 62.5px;
 }

 .action-title{
    color: rgba(37, 36, 50, 1);
    font-weight: bold;
    font-size: 42px;
    
 }

 .action-sub-title{
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
    font-weight:400;

 }
 .action-pic{
   width: 403px;
   height: 328px;
   border-radius: 48px;
   }
 
   /* productive user section */

   .productive-title{
      font-size: 38px;
      font-weight: bold;
      color: rgba(37, 36, 50, 1);
    }

    .productive-users-section{
      border-radius: 24px;
      padding: 50px 80px;
      height: 300px;
      text-align: center;
      margin-top: 116px;
      background-color: rgba(188, 71, 255, 0.1);
     }

    .productive-items{
      display: flex;
      justify-content: space-around;
    }

    .data-percentage{
      font-weight: bold;
      font-size: 80px;
      color: #4E47FF;
      margin-bottom: 0px;
      margin-top: 40px;
    }

    .data-subtitle{
      font-weight: 400;
      font-size: 20px;
      color: rgba(0, 0, 0, 0.5);
      margin-top: 0px;
    }

     .productive-data{
      margin: 0 auto;
    }

    /* section-column-touch */

    .touch{
      padding: 130px 130px;
      display: flex;
      gap: 200px;
      align-items: center;
    }
    .section-column-touch{
      width: 80%;
    }

    section input[type="email"], section input[type="text"], section textarea{
         height: 64px;
         border-radius: 5px;
         border-color: rgba(214, 221, 237, 1);
         background-color: rgba(255, 255, 255, 1);
         display: block;
         width: 200%;
         padding: 10px 20px;
         margin-bottom: 24px;
         /* border: none; */
         font-size: 20px;
    }

    .section-title{
            font-size: 97px;
            font-weight: bold;
    }
 